body {
    display: block;
    margin: 0px;
}
input[type=checkbox]{
  display: none;
}
.header{
  display: flex;
    justify-content: space-between;
    padding-top: 35px;
margin-bottom: 98px;
}

.menu__btn > span,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin-left: 29px;
margin-bottom: 10px;
}


.menu__btn > span::after {
  content: '';
  top: 9px;
  margin-left: 0px;

}
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 92px;
    height: 92px;
    background-color: #E5E5E5;
}

.page1{
  height: 900px;
width: 1440px;
background: linear-gradient(to right, #000 461px, #FFF 32%);
}
.logo__text{
font: normal 30px/37px 'montserrat-medium', arial, helvetica, sans-serif;
color: white;
padding-left: 52px;
letter-spacing: 2px;
}

.language{
font: normal 20px/25px 'montserrat-medium', arial, helvetica, sans-serif;
padding-right: 763px;
padding-top: 6px;
color: white;
}

.section{
  background: url(img/MaskGroup.png) no-repeat;
padding-left: 601px;
margin-left: 186px;
background-size: contain;
height: 561px;
}
.section__title {
padding-top: 100px;
margin-bottom: 20px;
font:  normal 80px/82px 'montserrat-bold', arial, helvetica, sans-serif;
font-weight: 700;
}
.section__subtitle{
  font:  normal 15px/21px 'montserrat-regular', arial, helvetica, sans-serif;
  padding-right: 185px;
      margin-bottom: 52px;
}
.section__button{
  font:  normal 13px 'montserrat-medium', arial, helvetica, sans-serif;
  color: #000000;
text-decoration: none;
border: 1.5px solid #000000;
box-sizing: border-box;
margin-left: -3px;
    padding: 13px 40px 12px 40px;
}
.section__button-next{
  font:  normal 13px 'montserrat-medium', arial, helvetica, sans-serif;
  color: #000000;
text-decoration: none;
padding-top: 1px;
    margin-left: 50px;
}
.strelka2_img{
      margin-left: 22px;
}
.icon{
  margin-top: 82px;
margin-left: 52px;
}
.icon__link-inst{
  padding-right: 8px;
}
.icon__link-facebook{
padding-left: 8px;
}
.icon__link-scroll{
      margin-left: 505px;
}

.section2__title{
  font:  normal 40px/41px 'montserrat-bold', arial, helvetica, sans-serif;
}
.section2__title2{
  font:  normal 16px/16px 'montserrat-bold', arial, helvetica, sans-serif;
}
.section2__subtitle{
  font:  normal 15px/21px 'montserrat-regular', arial, helvetica, sans-serif;
}
.section2_price{
  font:  normal 40px/56px 'montserrat-bold', arial, helvetica, sans-serif;
}
.section2_button-1{
    font:  normal 15px 'montserrat-medium', arial, helvetica, sans-serif;
}
.section2_button-2{
  font:  normal 13px 'montserrat-medium', arial, helvetica, sans-serif;
}
.section2__button-next{
    font:  normal 13px/16px 'montserrat-medium', arial, helvetica, sans-serif;
}
.section3__title{
    font:  normal 40px/41px 'montserrat-bold', arial, helvetica, sans-serif;
}
.section3__title2{
  font:  normal 16px/16px 'montserrat-bold', arial, helvetica, sans-serif;
}
.section3__subtitle,
.section3__subtitle2{
  font:  normal 15px/21px 'montserrat-regular', arial, helvetica, sans-serif;
}
.section3_button-1{
    font:  normal 15px 'montserrat-medium', arial, helvetica, sans-serif;
}
.section3_button-2{
  font:  normal 13px 'montserrat-medium', arial, helvetica, sans-serif;
}
.section3__button-next{
    font:  normal 13px/16px 'montserrat-medium', arial, helvetica, sans-serif;
}
